---
import ArticleMasthead from "../components/article/ArticleMasthead.astro";
import MainLayout from "./MainLayout.astro";
import { formatDate } from '../js/util';

import '../styles/markdown.css'

const { frontmatter } = Astro.props;
const { title, description, author, date, category, premium } = frontmatter;
---

{ <MainLayout title={title} description={description}>
	<ArticleMasthead title={title} author={author} date={formatDate(date)} premium={premium} category={category} isLink={true}></ArticleMasthead>
	<div class="container mx-auto max-w-screen-lg p-4 min-h-screen md-container">
		<slot/>
	</div>
	<div class="bg-gray-100 p-0">
		<div class="bg-gray-100 px-15 p-20">
			<div class="grid grid-cols-3 gap-0">
				<div class="border border-gray-700 p-8 rounded-tl-md rounded-bl-md bg-gray-200">
					<blockquote class="text-gray-700">
						<p>“With Next.js at the helm of our headless tech stack, our developers can create features with velocity and speed, ultimately enabling users to create whatever, whenever they want to.”</p>
						<cite class="block mt-4">Tatiana Mac, Senior Software Engineer</cite>
					</blockquote>
				</div>
				<div class="border-t border-b border-gray-700 p-8 bg-gray-200">
					<blockquote class="text-gray-700">
						<p>“My favorite UX feedback from customers is: 'How is the app so fast?' Because we’ve built on Next.js and Vercel since day one, our pages load in an instant, which is important when it comes to mission-critical software.”</p>
						<cite class="block mt-4">Fouad Matin, CEO</cite>
					</blockquote>
				</div>
				<div class="border border-gray-700 p-8 rounded-tr-md rounded-br-md bg-gray-200">
					<blockquote class="text-gray-700">
						<p>“Next.js has been a game-changer for our agency work and team collaboration. Its powerful features have allowed us to build high-performance websites quickly and efficiently like never before.”</p>
						<cite class="block mt-4">Daniel Lopes, Frontend Developer</cite>
					</blockquote>
				</div>
 	 	</div>
	</div>
</MainLayout> }